@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

/* tablet portrait */
@media screen and (min-width: 769px) and (max-width: 900px) {
    :root {
        --gap: 18px;
        --main-width: 720px;
    }

    .post-entry {
        padding: 20px;
    }

    .first-entry {
        min-height: 320px;
    }

    .header nav {
        display: flex;
    }
}

/* tablet landscape */
@media screen and (min-width: 901px) and (max-width: 1024px) {
    :root {
        --gap: 20px;
        --main-width: 800px;
    }

    .post-entry {
        padding: 24px;
    }

    .first-entry {
        min-height: 360px;
    }

    .post-content h1,
    .post-content h2 {
        margin: 36px 0 24px;
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media screen and (max-width: 340px) {
    .share-buttons {
        justify-content: unset;
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
